body {
  font-family: 'Yusei Magic', sans-serif;
  background-color: #1b1b1b;
  color: #fff;
}

h1 {
  color: #ffd65b;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block-end: 30px;
}

#houses {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 1.1em;
}

#houses:hover {
  cursor: pointer;
}

#getData_button {
  font-family: 'Yusei Magic', sans-serif;
  background-color: #065c0d;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
}

#getData_button:hover {
  cursor: pointer;
  background-color: #169e4a;
}

.characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.character img {
  width: 200px;
}

.Gryffindor {
  background: rgb(173,33,49);
  background: linear-gradient(180deg, rgba(173,33,49,1) 0%, rgba(106,16,26,1) 50%);
}

.Slytherin {
  background: rgb(75,215,103);
  background: linear-gradient(180deg, rgba(75,215,103,1) 0%, rgba(44,128,61,1) 50%);
}

.Ravenclaw {
  background: rgb(42,121,195);
  background: linear-gradient(180deg, rgba(42,121,195,1) 0%, rgba(23,84,140,1) 50%);
}

.Hufflepuff {
  background: rgb(241,231,63);
  background: linear-gradient(180deg, rgba(241,231,63,1) 0%, rgba(216,207,55,1) 50%);
}